.popup__container {
    background-color: #fff;
    width: 430px;
    border-radius: 10px;
    margin: auto;
    position: relative;
    box-shadow:inset;
}

@media screen and (max-width: 600px) {
    .popup__container {
        max-width: 282px;
    }
}